<form>

<h2>Serie hinzufügen:</h2> 
<div class="mb-2"> 
  <label class="form-label" for="newShowID">ID:</label>
   <input class="form-control" id="newShowID" name="newShowID" type="number"
    placeholder="Hier die ID der Serie eingeben!" [(ngModel)]="show.id">
</div>

<div class="mb-2">
  <label class="form-label" for="newShowTitel">Titel: </label>
  <input class="form-control" id="newShowTitel" name="newShowTitel" type="text"
   placeholder="Hier den Titel der Serie eingeben!" [(ngModel)]="show.titel">
</div>
<div class="mb-2 material-icons" id="knopf"> <button type="submit" class="btn btn-primary" (click)="save()"  ><span class="material-icons">
check
</span></button>
</div>
</form>